openapi: 3.1.0
info:
  title: Unbrowser API
  description: |
    Intelligent web browsing API for AI agents. Unbrowser learns from browsing patterns,
    discovers API endpoints automatically, and progressively optimizes to bypass browser
    rendering entirely.

    ## Authentication

    All API requests (except `/health`) require authentication via Bearer token:

    ```
    Authorization: Bearer ub_live_xxxxx
    ```

    API keys are prefixed with:
    - `ub_live_` - Production keys
    - `ub_test_` - Test/sandbox keys

    ## Rate Limits

    Rate limits vary by plan:
    - **Free**: 100 requests/day
    - **Starter**: 1,000 requests/day
    - **Team**: 10,000 requests/day
    - **Enterprise**: Custom limits

    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests per day
    - `X-RateLimit-Remaining`: Remaining requests
    - `X-RateLimit-Reset`: Unix timestamp when limit resets

    ## Tiered Rendering

    Unbrowser uses a tiered approach to minimize latency and cost:

    1. **Intelligence Tier** (~50-200ms): Framework extraction, cached patterns
    2. **Lightweight Tier** (~200-500ms): linkedom rendering, simple JS
    3. **Playwright Tier** (~2-5s): Full browser rendering

    Use `maxCostTier` and `maxLatencyMs` to control tier selection.

  version: 1.0.0
  contact:
    name: Unbrowser Support
    url: https://unbrowser.ai/support
    email: support@unbrowser.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.unbrowser.ai
    description: Production server
  - url: https://api-staging.unbrowser.ai
    description: Staging server

tags:
  - name: Browse
    description: Web browsing and content extraction
  - name: Connect
    description: |
      Unbrowser Connect SDK - Enable B2B SaaS applications to fetch content
      through their users' browsers, bypassing bot detection.
  - name: Discovery
    description: API endpoint discovery via fuzzing and analysis
  - name: Predictions
    description: Content change predictions with calendar triggers and urgency levels
  - name: Intelligence
    description: Domain intelligence and learned patterns
  - name: Usage
    description: Usage statistics and billing
  - name: Health
    description: API health and status

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check API health status. No authentication required.
      operationId: getHealth
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: healthy
                version: 1.0.0
                uptime: 86400

  /v1/browse:
    post:
      tags:
        - Browse
      summary: Browse a URL
      description: |
        Browse a URL and extract content with intelligent learning.

        The API automatically:
        - Uses learned selectors for reliable extraction
        - Falls back through selector chains if primary fails
        - Validates responses against learned patterns
        - Learns from successes and failures
        - Applies cross-domain patterns
        - Handles cookie banners and popups

        **SSE Support**: Set `Accept: text/event-stream` header to receive
        progress updates via Server-Sent Events.
      operationId: browse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowseRequest'
            examples:
              simple:
                summary: Simple browse
                value:
                  url: https://example.com
              withOptions:
                summary: With options
                value:
                  url: https://example.com/products
                  options:
                    contentType: markdown
                    maxChars: 10000
                    includeTables: true
              withSession:
                summary: Authenticated browse
                value:
                  url: https://example.com/dashboard
                  options:
                    contentType: markdown
                  session:
                    cookies:
                      - name: session_id
                        value: abc123
                        domain: example.com
      responses:
        '200':
          description: Successfully browsed URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowseResponse'
            text/event-stream:
              schema:
                type: string
                description: SSE stream with progress events
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/browse/preview:
    post:
      tags:
        - Browse
      summary: Preview browse execution plan
      description: |
        Preview what will happen when browsing a URL without executing it.

        Returns the execution plan including:
        - Tier that will be used
        - Estimated time
        - Learned patterns that will apply
        - Confidence level

        **Use case**: Plan complex operations before executing.
        **Performance**: Typically <50ms (compared to 2-5s for actual browse).
      operationId: previewBrowse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowseRequest'
            example:
              url: https://example.com/products
              options:
                maxLatencyMs: 2000
                maxCostTier: lightweight
      responses:
        '200':
          description: Execution plan preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/fetch:
    post:
      tags:
        - Browse
      summary: Fast content fetch
      description: |
        Optimized fetch using tiered rendering. Starts with the fastest tier
        and only escalates if content extraction fails.

        Use this for bulk operations or when speed is critical.
      operationId: fetch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowseRequest'
      responses:
        '200':
          description: Successfully fetched URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batch:
    post:
      tags:
        - Browse
      summary: Batch browse multiple URLs
      description: |
        Browse multiple URLs in parallel. Results are returned when all
        URLs have been processed.

        **Limits**:
        - Maximum 10 URLs per request (Free/Starter)
        - Maximum 50 URLs per request (Team/Enterprise)
      operationId: batchBrowse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
            example:
              urls:
                - https://example.com/page1
                - https://example.com/page2
                - https://example.com/page3
              options:
                contentType: markdown
                maxChars: 5000
      responses:
        '200':
          description: Batch results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/browse/paginate:
    post:
      tags:
        - Browse
      summary: Browse with automatic pagination
      description: |
        Browse a URL and automatically follow pagination links to fetch
        multiple pages of content.

        **How it works**:
        1. Fetches the starting URL
        2. Discovers pagination links (next, prev, first, last) via:
           - RFC 8288 Link headers
           - HTML `<link rel="next">` elements
           - HATEOAS `_links` in JSON responses
           - Common pagination URL patterns
        3. Follows "next" links up to `maxPages` limit
        4. Returns combined content from all pages

        **Use cases**:
        - Scraping product catalogs
        - Extracting blog post archives
        - Gathering search results across pages
        - Collecting paginated API responses

        **Options**:
        - `maxPages`: Maximum pages to fetch (1-50, default: 10)
        - `strategy`: 'links' (follow HTML links) or 'auto' (try API patterns first)
        - `delayMs`: Delay between requests for rate limiting
        - `stopOnError`: Stop if a page fails (default: true)
      operationId: paginateBrowse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginateRequest'
            examples:
              simple:
                summary: Simple pagination
                value:
                  url: https://example.com/products
              withOptions:
                summary: With pagination options
                value:
                  url: https://example.com/products?page=1
                  options:
                    maxPages: 5
                    delayMs: 500
                    maxChars: 10000
              fullCatalog:
                summary: Full catalog scrape
                value:
                  url: https://example.com/products
                  options:
                    maxPages: 50
                    strategy: auto
                    delayMs: 1000
                    stopOnError: false
      responses:
        '200':
          description: Paginated browse results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/domains/{domain}/intelligence:
    get:
      tags:
        - Intelligence
      summary: Get domain intelligence
      description: |
        Get learned patterns and intelligence for a domain.

        Returns information about:
        - Known selector patterns
        - Pagination strategies
        - Validation rules
        - Success rates
        - Recommended wait strategies
      operationId: getDomainIntelligence
      parameters:
        - name: domain
          in: path
          required: true
          description: Domain name (e.g., example.com)
          schema:
            type: string
            example: example.com
      responses:
        '200':
          description: Domain intelligence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainIntelligenceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No intelligence available for domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/predictions:
    get:
      tags:
        - Predictions
      summary: List all content change predictions
      description: |
        Get all content change patterns with urgency levels, sorted by urgency.

        Features:
        - Calendar triggers (detect annual patterns like Jan 1 updates)
        - Seasonal patterns (month/day probability distributions)
        - Prediction accuracy tracking
        - Urgency levels (0-3) with optimized polling intervals
      operationId: getPredictions
      parameters:
        - name: minUrgency
          in: query
          description: Filter by minimum urgency level (0=low, 1=normal, 2=high, 3=critical)
          schema:
            type: integer
            minimum: 0
            maximum: 3
        - name: domain
          in: query
          description: Filter by domain (partial match)
          schema:
            type: string
      responses:
        '200':
          description: List of content change patterns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/predictions/{domain}:
    get:
      tags:
        - Predictions
      summary: Get predictions for a domain
      description: Get all content change patterns for a specific domain.
      operationId: getPredictionsByDomain
      parameters:
        - name: domain
          in: path
          required: true
          description: Domain name
          schema:
            type: string
            example: extranjeros.inclusion.gob.es
      responses:
        '200':
          description: Domain predictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainPredictionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No patterns found for domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/predictions/{domain}/accuracy:
    get:
      tags:
        - Predictions
      summary: Get prediction accuracy statistics
      description: Get accuracy metrics for predictions on a domain.
      operationId: getPredictionAccuracy
      parameters:
        - name: domain
          in: path
          required: true
          description: Domain name
          schema:
            type: string
        - name: urlPattern
          in: query
          description: Optional URL pattern filter
          schema:
            type: string
      responses:
        '200':
          description: Prediction accuracy statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionAccuracyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No accuracy data for domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/predictions/{domain}/observe:
    post:
      tags:
        - Predictions
      summary: Record content observation
      description: |
        Record a content observation to train the prediction model.
        Call this after checking content to improve future predictions.
      operationId: recordObservation
      parameters:
        - name: domain
          in: path
          required: true
          description: Domain name
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - urlPattern
                - changed
              properties:
                urlPattern:
                  type: string
                  description: URL pattern being observed
                  example: /es/informacion/nie
                contentHash:
                  type: string
                  description: Hash of current content (for change detection)
                changed:
                  type: boolean
                  description: Whether content changed since last observation
      responses:
        '200':
          description: Observation recorded, pattern updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/predictions/urgency/{level}:
    get:
      tags:
        - Predictions
      summary: Get patterns by urgency level
      description: |
        Get all patterns at or above a specific urgency level.

        Urgency levels:
        - 0: Low (static content, rarely changes)
        - 1: Normal (regular patterns detected)
        - 2: High (change predicted soon)
        - 3: Critical (calendar trigger within 7 days)
      operationId: getUrgentPredictions
      parameters:
        - name: level
          in: path
          required: true
          description: Minimum urgency level (0-3)
          schema:
            type: integer
            minimum: 0
            maximum: 3
      responses:
        '200':
          description: Patterns at or above urgency level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/usage:
    get:
      tags:
        - Usage
      summary: Get usage statistics
      description: |
        Get usage statistics for the current billing period.

        Returns:
        - Total requests made
        - Requests broken down by tier
        - Daily limits and remaining quota
      operationId: getUsage
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/discover/fuzz:
    post:
      tags:
        - Discovery
      summary: Discover APIs via fuzzing
      description: |
        Proactively discover API endpoints by fuzzing common paths.

        **How it works**:
        1. Probes common API paths (/api, /v1, /graphql, etc.)
        2. Tests common HTTP methods (GET, POST, etc.)
        3. Analyzes responses to identify valid endpoints
        4. Optionally learns discovered patterns for future use

        **Use cases**:
        - Discover undocumented APIs before scraping
        - Build a complete API map of a domain
        - Identify authentication requirements

        **Note**: This operation may make many requests. Use responsibly.
      operationId: discoverFuzz
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuzzDiscoveryRequest'
            examples:
              simple:
                summary: Basic discovery
                value:
                  domain: api.example.com
              advanced:
                summary: With options
                value:
                  domain: api.example.com
                  options:
                    paths:
                      - /api
                      - /v1
                      - /graphql
                    methods:
                      - GET
                      - POST
                    probeTimeout: 5000
                    maxDuration: 30000
                    learnPatterns: true
      responses:
        '200':
          description: Discovery results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuzzDiscoveryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/connect/patterns:
    post:
      tags:
        - Connect
      summary: Sync extraction patterns
      description: |
        Sync site-specific extraction patterns to Connect SDK clients.

        The Connect SDK caches patterns locally in IndexedDB. This endpoint
        returns patterns that have changed since the last sync (delta updates).

        **How it works**:
        1. SDK sends its last sync token
        2. Server returns patterns that changed since that token
        3. SDK updates local cache
        4. Patterns enable efficient in-browser content extraction
      operationId: syncPatterns
      parameters:
        - name: X-App-Id
          in: header
          required: true
          schema:
            type: string
          description: Your Unbrowser Connect application ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatternSyncRequest'
            example:
              syncToken: "abc123"
      responses:
        '200':
          description: Patterns synced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatternSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/connect/patterns/{domain}:
    get:
      tags:
        - Connect
      summary: Get pattern for domain
      description: Get the extraction pattern for a specific domain.
      operationId: getPattern
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
          description: Domain to get pattern for
          example: reddit.com
      responses:
        '200':
          description: Pattern found
          content:
            application/json:
              schema:
                type: object
                properties:
                  pattern:
                    $ref: '#/components/schemas/SitePattern'
        '404':
          description: No pattern for domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/connect/learn:
    post:
      tags:
        - Connect
      summary: Submit learned patterns
      description: |
        Submit extraction patterns learned from SDK usage.

        When the Connect SDK encounters a site without patterns or extraction
        fails, it can submit the page structure for server-side learning.
        This improves patterns for all Connect users.
      operationId: learnPattern
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LearnPatternRequest'
            example:
              domain: example.com
              url: https://example.com/article/123
              successfulSelectors:
                title: "h1.article-title"
                content: ".article-body"
      responses:
        '200':
          description: Pattern submitted for learning
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/connect/health:
    get:
      tags:
        - Connect
      summary: Connect service health
      description: Check Connect service health and pattern count.
      operationId: getConnectHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  patterns:
                    type: integer
                    description: Number of patterns available
                  syncToken:
                    type: string
                    description: Current sync token

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key with `ub_live_` or `ub_test_` prefix

  schemas:
    BrowseRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: URL to browse
          example: https://example.com
        options:
          $ref: '#/components/schemas/BrowseOptions'
        session:
          $ref: '#/components/schemas/SessionData'

    BrowseOptions:
      type: object
      properties:
        contentType:
          type: string
          enum: [markdown, text, html]
          default: markdown
          description: Content format to return
        waitForSelector:
          type: string
          description: CSS selector to wait for before extraction
          example: .main-content
        scrollToLoad:
          type: boolean
          default: false
          description: Scroll page to trigger lazy loading
        maxChars:
          type: integer
          minimum: 100
          maximum: 100000
          description: Maximum characters to return
          example: 10000
        includeTables:
          type: boolean
          default: true
          description: Include extracted tables in response
        maxLatencyMs:
          type: integer
          minimum: 100
          maximum: 30000
          description: Maximum acceptable latency (skips slower tiers)
          example: 2000
        maxCostTier:
          type: string
          enum: [intelligence, lightweight, playwright]
          description: Maximum tier to use (limits cost/latency)
          example: lightweight
        debug:
          type: object
          description: Debug options for visual debugging (PLAY-001)
          properties:
            visible:
              type: boolean
              default: false
              description: Show browser window (Playwright tier only)
            slowMotion:
              type: integer
              minimum: 0
              maximum: 5000
              description: Milliseconds delay between actions
              example: 100
            screenshots:
              type: boolean
              default: false
              description: Capture screenshots during browsing
            consoleLogs:
              type: boolean
              default: false
              description: Collect browser console output
        verify:
          type: object
          description: Content verification options (COMP-015)
          properties:
            enabled:
              type: boolean
              default: true
              description: Enable content verification
            mode:
              type: string
              enum: [basic, standard, thorough]
              default: basic
              description: |
                Verification mode:
                - basic: Quick sanity checks
                - standard: Content validation
                - thorough: Deep verification with retries

    SessionData:
      type: object
      description: Session data for authenticated requests
      properties:
        cookies:
          type: array
          items:
            $ref: '#/components/schemas/Cookie'
        localStorage:
          type: object
          additionalProperties:
            type: string
          description: LocalStorage values to set

    Cookie:
      type: object
      required:
        - name
        - value
      properties:
        name:
          type: string
          example: session_id
        value:
          type: string
          example: abc123
        domain:
          type: string
          example: example.com
        path:
          type: string
          default: /
          example: /

    BrowseResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/BrowseResult'

    BrowseResult:
      type: object
      required:
        - url
        - finalUrl
        - title
        - content
        - metadata
      properties:
        url:
          type: string
          format: uri
          description: Original requested URL
        finalUrl:
          type: string
          format: uri
          description: Final URL after redirects
        title:
          type: string
          description: Page title
          example: Example Domain
        content:
          type: object
          required:
            - markdown
            - text
          properties:
            markdown:
              type: string
              description: Content as Markdown
            text:
              type: string
              description: Content as plain text
            html:
              type: string
              description: Raw HTML (if requested)
        tables:
          type: array
          description: Extracted tables
          items:
            type: object
            properties:
              headers:
                type: array
                items:
                  type: string
              rows:
                type: array
                items:
                  type: array
                  items:
                    type: string
        discoveredApis:
          type: array
          description: API endpoints discovered during browsing
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              method:
                type: string
                enum: [GET, POST, PUT, DELETE, PATCH]
              contentType:
                type: string
        metadata:
          type: object
          required:
            - loadTime
            - tier
            - tiersAttempted
          properties:
            loadTime:
              type: integer
              description: Total load time in milliseconds
              example: 450
            tier:
              type: string
              description: Tier used for final extraction
              example: lightweight
            tiersAttempted:
              type: array
              items:
                type: string
              description: Tiers attempted in order
              example: [intelligence, lightweight]
        newCookies:
          type: array
          description: Cookies set during the request
          items:
            $ref: '#/components/schemas/Cookie'
        verification:
          type: object
          description: Content verification results (when verify.enabled is true)
          properties:
            passed:
              type: boolean
              description: Whether all verification checks passed
            confidence:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Confidence score (0-1)
            checksRun:
              type: integer
              description: Number of verification checks run
            errors:
              type: array
              items:
                type: string
              description: Verification errors (if any)
            warnings:
              type: array
              items:
                type: string
              description: Verification warnings (if any)
        debug:
          type: object
          description: Debug data (when debug options enabled)
          properties:
            screenshots:
              type: array
              description: Captured screenshots
              items:
                type: object
                properties:
                  action:
                    type: string
                    description: Action that triggered screenshot
                  timestamp:
                    type: integer
                    description: Unix timestamp
                  imageSize:
                    type: integer
                    description: Size of base64 image data
                  imagePreview:
                    type: string
                    description: First 100 chars of base64 data
            consoleLogs:
              type: array
              items:
                type: object
                properties:
                  level:
                    type: string
                    enum: [log, warn, error, info]
                  message:
                    type: string
                  timestamp:
                    type: integer
            actionTrace:
              type: array
              description: Trace of actions taken
              items:
                type: object
                properties:
                  action:
                    type: string
                  timestamp:
                    type: integer
                  details:
                    type: object
                    additionalProperties: true

    BatchRequest:
      type: object
      required:
        - urls
      properties:
        urls:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 50
          description: URLs to browse
        options:
          $ref: '#/components/schemas/BrowseOptions'
        session:
          $ref: '#/components/schemas/SessionData'

    BatchResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - results
            - totalTime
          properties:
            results:
              type: array
              items:
                type: object
                required:
                  - url
                  - success
                properties:
                  url:
                    type: string
                    format: uri
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/BrowseResult'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
            totalTime:
              type: integer
              description: Total processing time in milliseconds

    PaginateRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: Starting URL for pagination
        options:
          allOf:
            - $ref: '#/components/schemas/BrowseOptions'
            - type: object
              properties:
                maxPages:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 10
                  description: Maximum number of pages to fetch
                strategy:
                  type: string
                  enum: [links, auto]
                  default: auto
                  description: |
                    Pagination strategy:
                    - `links`: Follow 'next' links discovered in Link headers, HTML, or HATEOAS responses
                    - `auto`: (Not yet implemented) Would try API patterns first, fall back to links
                    Currently defaults to 'links' behavior regardless of setting.
                delayMs:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  default: 0
                  description: Delay between page requests in milliseconds
                stopOnError:
                  type: boolean
                  default: true
                  description: Stop pagination if a page fails
        session:
          $ref: '#/components/schemas/SessionData'

    PaginateResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - combinedContent
            - pages
            - pagination
            - metadata
          properties:
            combinedContent:
              type: object
              description: Aggregated content from all pages
              properties:
                markdown:
                  type: string
                  description: Combined markdown with page headers
                text:
                  type: string
                  description: Combined plain text with page headers
            pages:
              type: array
              description: Individual page results
              items:
                type: object
                required:
                  - pageNumber
                  - url
                  - success
                properties:
                  pageNumber:
                    type: integer
                    description: Page number (1-indexed)
                  url:
                    type: string
                    format: uri
                    description: URL of this page
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/BrowseResult'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  paginationLinks:
                    type: object
                    description: Discovered pagination links on this page
                    properties:
                      next:
                        type: string
                        format: uri
                      prev:
                        type: string
                        format: uri
                      first:
                        type: string
                        format: uri
                      last:
                        type: string
                        format: uri
            pagination:
              type: object
              description: Pagination metadata
              required:
                - totalPages
                - successfulPages
                - failedPages
              properties:
                totalPages:
                  type: integer
                  description: Total pages fetched
                successfulPages:
                  type: integer
                  description: Number of pages successfully fetched
                failedPages:
                  type: integer
                  description: Number of pages that failed
                maxPagesReached:
                  type: boolean
                  description: Whether maxPages limit was hit
                strategy:
                  type: string
                  enum: [links, auto]
                  description: Strategy that was used
            metadata:
              type: object
              description: Aggregate timing metadata
              properties:
                totalTime:
                  type: integer
                  description: Total time in milliseconds
                totalLoadTime:
                  type: integer
                  description: Sum of individual page load times
                startUrl:
                  type: string
                  format: uri
                  description: Starting URL
                lastUrl:
                  type: string
                  format: uri
                  description: Last URL fetched

    DomainIntelligenceResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - domain
          properties:
            domain:
              type: string
              example: example.com
            knownPatterns:
              type: integer
              description: Number of learned patterns
              example: 12
            selectorChains:
              type: integer
              description: Number of selector chains
              example: 5
            validators:
              type: integer
              description: Number of validation rules
              example: 3
            paginationPatterns:
              type: integer
              description: Number of pagination patterns
              example: 2
            recentFailures:
              type: integer
              description: Recent failure count
              example: 0
            successRate:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Success rate (0-1)
              example: 0.95
            domainGroup:
              type: string
              nullable: true
              description: Domain group for shared patterns
              example: gov-sites-usa
            recommendedWaitStrategy:
              type: string
              description: Recommended wait strategy
              example: networkidle
            shouldUseSession:
              type: boolean
              description: Whether session is recommended
              example: false

    PreviewResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - url
            - plan
          properties:
            url:
              type: string
              format: uri
              description: URL being previewed
            plan:
              type: object
              properties:
                recommendedTier:
                  type: string
                  enum: [intelligence, lightweight, playwright]
                  description: Tier that will be used
                estimatedTimeMs:
                  type: integer
                  description: Estimated time in milliseconds
                confidence:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Confidence in successful extraction
                patternsAvailable:
                  type: integer
                  description: Number of learned patterns for this domain
                skillsAvailable:
                  type: array
                  items:
                    type: string
                  description: Applicable procedural skills
                warnings:
                  type: array
                  items:
                    type: string
                  description: Potential issues or recommendations
        metadata:
          type: object
          properties:
            previewDuration:
              type: integer
              description: Time taken to generate preview (ms)

    FuzzDiscoveryRequest:
      type: object
      required:
        - domain
      properties:
        domain:
          type: string
          description: Domain to discover APIs for (with or without protocol)
          example: api.example.com
        options:
          type: object
          properties:
            paths:
              type: array
              items:
                type: string
              description: Custom paths to probe (defaults to common API paths)
              example: ["/api", "/v1", "/graphql"]
            methods:
              type: array
              items:
                type: string
                enum: [GET, POST, PUT, DELETE, PATCH, OPTIONS, HEAD]
              description: HTTP methods to test (defaults to GET, POST)
              example: [GET, POST]
            probeTimeout:
              type: integer
              minimum: 1000
              maximum: 30000
              description: Timeout per probe in milliseconds
              default: 5000
              example: 5000
            maxDuration:
              type: integer
              minimum: 5000
              maximum: 300000
              description: Maximum total duration in milliseconds
              default: 30000
              example: 30000
            learnPatterns:
              type: boolean
              default: true
              description: Whether to learn discovered patterns for future use
            headers:
              type: object
              additionalProperties:
                type: string
              description: Custom headers to include in probes
            successCodes:
              type: array
              items:
                type: integer
              description: HTTP status codes to consider successful
              default: [200, 201, 204]

    FuzzDiscoveryResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - domain
            - discovered
            - stats
          properties:
            domain:
              type: string
              description: Domain that was scanned
            baseUrl:
              type: string
              format: uri
              description: Base URL used for probing
            discovered:
              type: array
              description: Successfully discovered endpoints
              items:
                type: object
                required:
                  - path
                  - method
                  - statusCode
                properties:
                  path:
                    type: string
                    description: Endpoint path
                  method:
                    type: string
                    description: HTTP method
                  statusCode:
                    type: integer
                    description: Response status code
                  responseTime:
                    type: integer
                    description: Response time in milliseconds
                  contentType:
                    type: string
                    description: Response content type
            stats:
              type: object
              properties:
                totalProbes:
                  type: integer
                  description: Total number of probes sent
                successfulEndpoints:
                  type: integer
                  description: Number of endpoints found
                failedProbes:
                  type: integer
                  description: Number of failed probes
                patternsLearned:
                  type: integer
                  description: Patterns learned for future use
                duration:
                  type: integer
                  description: Total duration in milliseconds
            metadata:
              type: object
              properties:
                timestamp:
                  type: integer
                  description: Unix timestamp
                requestDuration:
                  type: integer
                  description: API request duration (ms)

    UsageResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - period
            - requests
            - limits
          properties:
            period:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                  example: 2024-01-01T00:00:00Z
                end:
                  type: string
                  format: date-time
                  example: 2024-01-31T23:59:59Z
            requests:
              type: object
              properties:
                total:
                  type: integer
                  example: 5432
                byTier:
                  type: object
                  additionalProperties:
                    type: integer
                  example:
                    intelligence: 3500
                    lightweight: 1500
                    playwright: 432
            limits:
              type: object
              properties:
                daily:
                  type: integer
                  example: 10000
                remaining:
                  type: integer
                  example: 4568

    # Content Change Prediction Schemas (INT-018)
    CalendarTrigger:
      type: object
      properties:
        month:
          type: integer
          minimum: 1
          maximum: 12
          description: Month (1-12)
        dayOfMonth:
          type: integer
          minimum: 1
          maximum: 31
          description: Day of month
        description:
          type: string
          description: Human-readable description
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Confidence in this trigger
        historicalCount:
          type: integer
          description: Number of historical occurrences

    SeasonalPattern:
      type: object
      properties:
        highChangeMonths:
          type: array
          items:
            type: integer
          description: Months with higher-than-average change frequency
        highChangeDays:
          type: array
          items:
            type: integer
          description: Days of month with higher change frequency
        totalObservations:
          type: integer
          description: Total observations for analysis

    PredictionForecast:
      type: object
      properties:
        predictedAt:
          type: integer
          description: Predicted timestamp (ms since epoch)
        predictedAtISO:
          type: string
          format: date-time
          description: ISO string of predicted time
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Confidence in prediction
        uncertaintyWindowMs:
          type: integer
          description: Uncertainty window in ms
        reason:
          type: string
          description: Human-readable reason for prediction

    ContentChangePattern:
      type: object
      required:
        - id
        - domain
        - urlPattern
        - detectedPattern
        - urgencyLevel
        - recommendedPollIntervalMs
      properties:
        id:
          type: string
          description: Pattern ID
        domain:
          type: string
          description: Domain of the content
          example: extranjeros.inclusion.gob.es
        urlPattern:
          type: string
          description: URL pattern
          example: /es/informacion/nie
        detectedPattern:
          type: string
          enum: [hourly, daily, weekly, monthly, static, irregular]
          description: Detected pattern type
        patternConfidence:
          type: number
          minimum: 0
          maximum: 1
          description: Confidence in pattern detection
        urgencyLevel:
          type: integer
          minimum: 0
          maximum: 3
          description: Urgency level (0=low, 1=normal, 2=high, 3=critical)
        nextPrediction:
          $ref: '#/components/schemas/PredictionForecast'
        calendarTriggers:
          type: array
          items:
            $ref: '#/components/schemas/CalendarTrigger'
        seasonalPattern:
          $ref: '#/components/schemas/SeasonalPattern'
        recommendedPollIntervalMs:
          type: integer
          description: Recommended polling interval in ms
        changeCount:
          type: integer
          description: Number of changes observed
        lastAnalyzedAt:
          type: integer
          description: When pattern was last analyzed (ms since epoch)

    PredictionsResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - patterns
          properties:
            patterns:
              type: array
              items:
                $ref: '#/components/schemas/ContentChangePattern'
            summary:
              type: object
              properties:
                totalPatterns:
                  type: integer
                byUrgency:
                  type: object
                  properties:
                    critical:
                      type: integer
                    high:
                      type: integer
                    normal:
                      type: integer
                    low:
                      type: integer
                withCalendarTriggers:
                  type: integer
            metadata:
              type: object
              properties:
                timestamp:
                  type: integer
                requestDuration:
                  type: integer

    DomainPredictionsResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - domain
            - patterns
          properties:
            domain:
              type: string
            patterns:
              type: array
              items:
                $ref: '#/components/schemas/ContentChangePattern'
            metadata:
              type: object
              properties:
                timestamp:
                  type: integer
                requestDuration:
                  type: integer

    PredictionAccuracyResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            domain:
              type: string
            urlPattern:
              type: string
            accuracy:
              type: object
              properties:
                totalPredictions:
                  type: integer
                successfulPredictions:
                  type: integer
                successRate:
                  type: number
                recentAccuracy:
                  type: number
                averageErrorMs:
                  type: number
                averageErrorHours:
                  type: number
            metadata:
              type: object
              properties:
                timestamp:
                  type: integer
                requestDuration:
                  type: integer

    ObservationResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            pattern:
              $ref: '#/components/schemas/ContentChangePattern'
            metadata:
              type: object
              properties:
                timestamp:
                  type: integer
                requestDuration:
                  type: integer

    HealthResponse:
      type: object
      required:
        - status
        - version
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          example: healthy
        version:
          type: string
          example: 1.0.0
        uptime:
          type: integer
          description: Uptime in seconds
          example: 86400

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code
              example: INVALID_URL
            message:
              type: string
              description: Human-readable error message
              example: The provided URL is not valid

    # Connect SDK Schemas
    PatternSyncRequest:
      type: object
      properties:
        syncToken:
          type: string
          nullable: true
          description: Token from last sync (null for initial sync)

    PatternSyncResponse:
      type: object
      required:
        - patterns
        - syncToken
      properties:
        patterns:
          type: array
          items:
            $ref: '#/components/schemas/SitePattern'
          description: Patterns that changed since last sync
        syncToken:
          type: string
          description: Token to use for next sync

    SitePattern:
      type: object
      required:
        - domain
        - version
        - lastUpdated
        - selectors
      properties:
        domain:
          type: string
          description: Domain this pattern applies to
          example: reddit.com
        version:
          type: string
          description: Pattern version
          example: "1.0.0"
        lastUpdated:
          type: string
          format: date-time
          description: When pattern was last updated
        selectors:
          type: object
          additionalProperties:
            type: string
          description: CSS selectors for content extraction
          example:
            title: ".thing .title a"
            content: ".expando .md"
            author: ".thing .author"
        contentStructure:
          type: object
          properties:
            type:
              type: string
              enum: [article, list, forum, product, unknown]
            pagination:
              type: object
              properties:
                nextSelector:
                  type: string
                pageParamName:
                  type: string

    LearnPatternRequest:
      type: object
      required:
        - domain
        - url
      properties:
        domain:
          type: string
          description: Domain of the page
          example: example.com
        url:
          type: string
          format: uri
          description: Full URL of the page
        html:
          type: string
          description: Page HTML sample for learning
        successfulSelectors:
          type: object
          additionalProperties:
            type: string
          description: Selectors that worked for extraction

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: INVALID_REQUEST
              message: Request body is invalid

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: UNAUTHORIZED
              message: Invalid or missing API key

    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: FORBIDDEN
              message: API key does not have access to this resource

    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Maximum requests per day
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: RATE_LIMITED
              message: Daily request limit exceeded

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: INTERNAL_ERROR
              message: An unexpected error occurred

security:
  - bearerAuth: []
