openapi: 3.1.0
info:
  title: Unbrowser API
  description: |
    Intelligent web browsing API for AI agents. Unbrowser learns from browsing patterns,
    discovers API endpoints automatically, and progressively optimizes to bypass browser
    rendering entirely.

    ## Authentication

    All API requests (except `/health`) require authentication via Bearer token:

    ```
    Authorization: Bearer ub_live_xxxxx
    ```

    API keys are prefixed with:
    - `ub_live_` - Production keys
    - `ub_test_` - Test/sandbox keys

    ## Rate Limits

    Rate limits vary by plan:
    - **Free**: 100 requests/day
    - **Starter**: 1,000 requests/day
    - **Team**: 10,000 requests/day
    - **Enterprise**: Custom limits

    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests per day
    - `X-RateLimit-Remaining`: Remaining requests
    - `X-RateLimit-Reset`: Unix timestamp when limit resets

    ## Tiered Rendering

    Unbrowser uses a tiered approach to minimize latency and cost:

    1. **Intelligence Tier** (~50-200ms): Framework extraction, cached patterns
    2. **Lightweight Tier** (~200-500ms): linkedom rendering, simple JS
    3. **Playwright Tier** (~2-5s): Full browser rendering

    Use `maxCostTier` and `maxLatencyMs` to control tier selection.

  version: 1.0.0
  contact:
    name: Unbrowser Support
    url: https://unbrowser.ai/support
    email: support@unbrowser.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.unbrowser.ai
    description: Production server
  - url: https://api-staging.unbrowser.ai
    description: Staging server

tags:
  - name: Browse
    description: Web browsing and content extraction
  - name: Intelligence
    description: Domain intelligence and learned patterns
  - name: Usage
    description: Usage statistics and billing
  - name: Health
    description: API health and status

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check API health status. No authentication required.
      operationId: getHealth
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: healthy
                version: 1.0.0
                uptime: 86400

  /v1/browse:
    post:
      tags:
        - Browse
      summary: Browse a URL
      description: |
        Browse a URL and extract content with intelligent learning.

        The API automatically:
        - Uses learned selectors for reliable extraction
        - Falls back through selector chains if primary fails
        - Validates responses against learned patterns
        - Learns from successes and failures
        - Applies cross-domain patterns
        - Handles cookie banners and popups

        **SSE Support**: Set `Accept: text/event-stream` header to receive
        progress updates via Server-Sent Events.
      operationId: browse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowseRequest'
            examples:
              simple:
                summary: Simple browse
                value:
                  url: https://example.com
              withOptions:
                summary: With options
                value:
                  url: https://example.com/products
                  options:
                    contentType: markdown
                    maxChars: 10000
                    includeTables: true
              withSession:
                summary: Authenticated browse
                value:
                  url: https://example.com/dashboard
                  options:
                    contentType: markdown
                  session:
                    cookies:
                      - name: session_id
                        value: abc123
                        domain: example.com
      responses:
        '200':
          description: Successfully browsed URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowseResponse'
            text/event-stream:
              schema:
                type: string
                description: SSE stream with progress events
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/fetch:
    post:
      tags:
        - Browse
      summary: Fast content fetch
      description: |
        Optimized fetch using tiered rendering. Starts with the fastest tier
        and only escalates if content extraction fails.

        Use this for bulk operations or when speed is critical.
      operationId: fetch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowseRequest'
      responses:
        '200':
          description: Successfully fetched URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batch:
    post:
      tags:
        - Browse
      summary: Batch browse multiple URLs
      description: |
        Browse multiple URLs in parallel. Results are returned when all
        URLs have been processed.

        **Limits**:
        - Maximum 10 URLs per request (Free/Starter)
        - Maximum 50 URLs per request (Team/Enterprise)
      operationId: batchBrowse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
            example:
              urls:
                - https://example.com/page1
                - https://example.com/page2
                - https://example.com/page3
              options:
                contentType: markdown
                maxChars: 5000
      responses:
        '200':
          description: Batch results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/domains/{domain}/intelligence:
    get:
      tags:
        - Intelligence
      summary: Get domain intelligence
      description: |
        Get learned patterns and intelligence for a domain.

        Returns information about:
        - Known selector patterns
        - Pagination strategies
        - Validation rules
        - Success rates
        - Recommended wait strategies
      operationId: getDomainIntelligence
      parameters:
        - name: domain
          in: path
          required: true
          description: Domain name (e.g., example.com)
          schema:
            type: string
            example: example.com
      responses:
        '200':
          description: Domain intelligence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainIntelligenceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No intelligence available for domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/usage:
    get:
      tags:
        - Usage
      summary: Get usage statistics
      description: |
        Get usage statistics for the current billing period.

        Returns:
        - Total requests made
        - Requests broken down by tier
        - Daily limits and remaining quota
      operationId: getUsage
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key with `ub_live_` or `ub_test_` prefix

  schemas:
    BrowseRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: URL to browse
          example: https://example.com
        options:
          $ref: '#/components/schemas/BrowseOptions'
        session:
          $ref: '#/components/schemas/SessionData'

    BrowseOptions:
      type: object
      properties:
        contentType:
          type: string
          enum: [markdown, text, html]
          default: markdown
          description: Content format to return
        waitForSelector:
          type: string
          description: CSS selector to wait for before extraction
          example: .main-content
        scrollToLoad:
          type: boolean
          default: false
          description: Scroll page to trigger lazy loading
        maxChars:
          type: integer
          minimum: 100
          maximum: 100000
          description: Maximum characters to return
          example: 10000
        includeTables:
          type: boolean
          default: true
          description: Include extracted tables in response
        maxLatencyMs:
          type: integer
          minimum: 100
          maximum: 30000
          description: Maximum acceptable latency (skips slower tiers)
          example: 2000
        maxCostTier:
          type: string
          enum: [intelligence, lightweight, playwright]
          description: Maximum tier to use (limits cost/latency)
          example: lightweight

    SessionData:
      type: object
      description: Session data for authenticated requests
      properties:
        cookies:
          type: array
          items:
            $ref: '#/components/schemas/Cookie'
        localStorage:
          type: object
          additionalProperties:
            type: string
          description: LocalStorage values to set

    Cookie:
      type: object
      required:
        - name
        - value
      properties:
        name:
          type: string
          example: session_id
        value:
          type: string
          example: abc123
        domain:
          type: string
          example: example.com
        path:
          type: string
          default: /
          example: /

    BrowseResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/BrowseResult'

    BrowseResult:
      type: object
      required:
        - url
        - finalUrl
        - title
        - content
        - metadata
      properties:
        url:
          type: string
          format: uri
          description: Original requested URL
        finalUrl:
          type: string
          format: uri
          description: Final URL after redirects
        title:
          type: string
          description: Page title
          example: Example Domain
        content:
          type: object
          required:
            - markdown
            - text
          properties:
            markdown:
              type: string
              description: Content as Markdown
            text:
              type: string
              description: Content as plain text
            html:
              type: string
              description: Raw HTML (if requested)
        tables:
          type: array
          description: Extracted tables
          items:
            type: object
            properties:
              headers:
                type: array
                items:
                  type: string
              rows:
                type: array
                items:
                  type: array
                  items:
                    type: string
        discoveredApis:
          type: array
          description: API endpoints discovered during browsing
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              method:
                type: string
                enum: [GET, POST, PUT, DELETE, PATCH]
              contentType:
                type: string
        metadata:
          type: object
          required:
            - loadTime
            - tier
            - tiersAttempted
          properties:
            loadTime:
              type: integer
              description: Total load time in milliseconds
              example: 450
            tier:
              type: string
              description: Tier used for final extraction
              example: lightweight
            tiersAttempted:
              type: array
              items:
                type: string
              description: Tiers attempted in order
              example: [intelligence, lightweight]
        newCookies:
          type: array
          description: Cookies set during the request
          items:
            $ref: '#/components/schemas/Cookie'

    BatchRequest:
      type: object
      required:
        - urls
      properties:
        urls:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 50
          description: URLs to browse
        options:
          $ref: '#/components/schemas/BrowseOptions'
        session:
          $ref: '#/components/schemas/SessionData'

    BatchResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - results
            - totalTime
          properties:
            results:
              type: array
              items:
                type: object
                required:
                  - url
                  - success
                properties:
                  url:
                    type: string
                    format: uri
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/BrowseResult'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
            totalTime:
              type: integer
              description: Total processing time in milliseconds

    DomainIntelligenceResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - domain
          properties:
            domain:
              type: string
              example: example.com
            knownPatterns:
              type: integer
              description: Number of learned patterns
              example: 12
            selectorChains:
              type: integer
              description: Number of selector chains
              example: 5
            validators:
              type: integer
              description: Number of validation rules
              example: 3
            paginationPatterns:
              type: integer
              description: Number of pagination patterns
              example: 2
            recentFailures:
              type: integer
              description: Recent failure count
              example: 0
            successRate:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Success rate (0-1)
              example: 0.95
            domainGroup:
              type: string
              nullable: true
              description: Domain group for shared patterns
              example: gov-sites-usa
            recommendedWaitStrategy:
              type: string
              description: Recommended wait strategy
              example: networkidle
            shouldUseSession:
              type: boolean
              description: Whether session is recommended
              example: false

    UsageResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - period
            - requests
            - limits
          properties:
            period:
              type: object
              properties:
                start:
                  type: string
                  format: date-time
                  example: 2024-01-01T00:00:00Z
                end:
                  type: string
                  format: date-time
                  example: 2024-01-31T23:59:59Z
            requests:
              type: object
              properties:
                total:
                  type: integer
                  example: 5432
                byTier:
                  type: object
                  additionalProperties:
                    type: integer
                  example:
                    intelligence: 3500
                    lightweight: 1500
                    playwright: 432
            limits:
              type: object
              properties:
                daily:
                  type: integer
                  example: 10000
                remaining:
                  type: integer
                  example: 4568

    HealthResponse:
      type: object
      required:
        - status
        - version
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          example: healthy
        version:
          type: string
          example: 1.0.0
        uptime:
          type: integer
          description: Uptime in seconds
          example: 86400

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code
              example: INVALID_URL
            message:
              type: string
              description: Human-readable error message
              example: The provided URL is not valid

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: INVALID_REQUEST
              message: Request body is invalid

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: UNAUTHORIZED
              message: Invalid or missing API key

    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: FORBIDDEN
              message: API key does not have access to this resource

    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Maximum requests per day
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: RATE_LIMITED
              message: Daily request limit exceeded

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: INTERNAL_ERROR
              message: An unexpected error occurred

security:
  - bearerAuth: []
